<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="RRScheduleManagement" connectionString="Data Source=SALMAN-PC;Initial Catalog=RRScheduleManagement; Usermid=sa; Password=sa123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
   </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>  
        <add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>  
</configuration>
